* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-image: url('https://cdn.pixabay.com/photo/2018/12/18/08/44/nature-3881940_1280.jpg');
    background-repeat: no-repeat;   /* não repete a imagem */
    background-size: cover;         /* cobre todo o fundo */
    background-position: center;    /* centraliza a imagem */
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

input {
    background:none;
    margin: 30vh auto;
    padding: 12px 24px;
    font-size: 24px;
    border: 2px solid #111;
    border-radius: 12px;
    display: flex;
    justify-content: center; 
    align-items: center;      
    height: 8vh; 
    text-decoration: none;

    @media (max-width: 768px) {
    width: 80%;
    }
}

:root {
    --corPrincipal: #95afc0;
    --corSegundaria: #111;
}