* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

input {
    margin: 30vh auto;
    padding: 12px 24px;
    font-size: 24px;
    border: 2px solid #111;
    border-radius: 12px;
    display: flex;
    justify-content: center; 
    align-items: center;      
    height: 8vh; 

    @media (max-width: 768px) {
    width: 80%;
    }
}

:root {
    --corPrincipal: #95afc0;
    --corSegundaria: #111;
}